@CHARSET "UTF-8";
.ojs-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 12px normal Arial, sans-serif;
	display: none;
	color: black; /* Kent@FlashPeak: override new_tab_theme.css */
}
.ojs-wrapper{
	background-color: #666;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9500;
}
.ojs-holder{
	background-color: #fff;
	border: solid 10px #fff;
	position: absolute;
	z-index: 9600;
	box-shadow: 0 0 3px #111;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.ojs-header{
	background-color: #ddd;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	position: absolute;
	text-indent: 5px;
	top: 0;
	width: 100%;
	border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
}
.ojs-content{
	bottom: 32px;
	overflow: auto;
	position: absolute;
	top: 32px;
	width: 100%;
}
.ojs-footer{
	bottom: 0;
	height: 30px;
	position: absolute;
	width: 100%;
}
.ojs-close{
	background: url(http://www.slimjet.com/images/overlay-close.png) 0 0 no-repeat;
	cursor: pointer;
	display: block;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 7px;
	width: 16px;
}