.modal-body button.close{margin-top:-2px}.popup-header{padding-top:45px;text-align:center}.popup-header .h3{padding-bottom:20px}.popup-header .h5{padding-bottom:60px}.popup-content{text-align:center}.popup-content-block{padding-bottom:30px}.popup-footer{text-align:center}.k12-popup-img{margin-bottom:15px}
/*
     FILE ARCHIVED ON 06:35:37 Feb 16, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:04:55 Oct 21, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 379.937
  exclusion.robots: 0.184
  exclusion.robots.policy: 0.171
  RedisCDXSource: 42.808
  esindex: 0.017
  LoadShardBlock: 299.155 (3)
  PetaboxLoader3.datanode: 635.197 (5)
  CDXLines.iter: 32.183 (3)
  load_resource: 852.812 (2)
  PetaboxLoader3.resolve: 217.3 (2)
*/